body{
    background-color:gray;
color:black ;

}
     
.container-fluid{

    margin-top: 0%;
    
}

#nav{

    padding: 0%;
}

.input-group{
    /* margin-left: 100px; */
margin-left: 300px;
size: 10px;
width: auto;
}

#stringA{
    margin-top: 20px;
    font-style: oblique;
    /* list-style: decimal; */
    margin-left: 10px;
    font-size: 20px;
}

#Screen{
margin-top: 20px;
    margin-left: 1150px;
    position:static;
}
#gridMain{
 display: grid;
 grid-template-columns: auto auto auto auto;
            grid-gap: 20px;
    
}

.gridItem img{
    width: 300px;
    height: 200px;
   
}
/* try to cinter the item it self in the grid col */
.gridItem{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

padding-top: 10px;
 
}

#factory{
    margin-top: 150px;
    margin-left: 500px;
}

#write{
    margin-top: 150px;
    margin-left: 300px;
}
#colorcar{
    margin-left: 20px;
}

#pictureee{
    height: 250px;
    width: 150px;
 margin-top: 50px;

}

#picturee{
    margin-top:80px;
    margin-left: 250px;
}
#ppau{
    font-size: 20px;
    margin-top: 40px;
    margin-left: 20px;
}
#footera{
    margin-top: 20px;
}