body{
    background-color:gray; 
   margin: 0%;
   padding: 0;
}

.container-fluid{

   margin-top: 0%;
   
}

#nav{

   padding: 0%;
}

.content{

   margin-left: 50px;
}


.input-group{
   /* margin-left: 100px; */
margin-left: 300px;
size: 10px;
width: auto;
}
#divContent{

margin-left: 50px;
margin-top: 20px;

}
.card{
margin-top: 10px;
margin-left: 50px;
   height: 550px;
   width: 450px;
   /* background-color: ; */
   color: black;
   display:inline-table;
   font-size: larger;
   border-radius: 50px;
} 

#car{
width: 449px; 
height: 300px;
margin-top: 5px;
border-radius: 20px;  
}

#buttonA{

   margin-top: 100px;
   margin-left: 340px;
}
.buttonA{

   margin-top: 50px;
   margin-left: 340px;
}
#buttonC{
margin-top:85px;
margin-left: 340px;

}
#footerA{

margin-top: 30px;


}
#buttonB{
   margin-top: 100px;
   margin-left: 340px;
}

.login-container{
   margin-left: 400px;
   
}
.login-container :hover{
   color: blue;
}
.modalcolor{
   background: red;
}


.dropdown{
   margin-left: -50px;
} 
.fa{
   margin-left:500px;
}


#pic{
   width: 4000px;
   height: 500px;
   margin-top: 50px;
   margin-left: 500px;
}

#carrr{
   width: 380px;
   height: 350px;
}

#car{
   height: 300px;
   width: 100%;
   margin-top: 0%;
   border-radius: 50px;
}

#loginn{
   margin-left: 600px;
}
.card:hover{
   box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
}

.card {
   display: inline-block;
   vertical-align: middle;
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -webkit-transition-property: transform;
   transition-property: transform;
   margin: 10px;
 }
 .card:hover, .card:focus, .card:active {
   -webkit-transform: scale(1.05);
   transform: scale(1.05);
 }


 #basket{
   margin-top: 100px;

   width: 50px;
   background-color:white;
   border-radius:10px;
   color: black;
 }

 #buttonD{
   margin-top: 75px;
   margin-left: 330px;
 }

 @media  screen and (min-width:1024px) {
   


 }



 @media  screen and (min-width:767px) and (max-width:1023px) {
   
   body{
       background-color:gray; 
      margin: 0%;
      padding: 0;
  }
  
  .container-fluid{
  
      margin-top: 0%;
      
  }
  
  #nav{
  
      padding: 0%;
  }
  
  .content{
  
      margin-left: 50px;
  }
  
  
  .input-group{
      /* margin-left: 100px; */

  size: 10px;
  margin-left: 10px;
   width: 299px;
  }
  #divContent{
  
  margin-left: 50px;
  margin-top: 20px;
  
  }
  .card{
  margin-top: 10px;
  margin-left: 50px;
      height: 550px;
      width: 450px;
      /* background-color: ; */
      color: black;
      display:inline-table;
      font-size: larger;
      border-radius: 50px;
  } 
  .navbar-toggler-icon{
   margin-left: 150px;
  }
  
  #car{
   width: 449px; 
   height: 300px;
   margin-top: 5px;
   border-radius: 20px;  
  }
  
  #buttonA{
  
      margin-top: 100px;
      margin-left: 340px;
  }
  .buttonA{
  
      margin-top: 50px;
      margin-left: 340px;
  }
  #buttonC{
  margin-top:85px;
  margin-left: 340px;
  
  }
  #footerA{
  
  margin-top: 30px;
  
  
  }
  #buttonB{
      margin-top: 100px;
      margin-left: 340px;
  }
  
  .login-container{
      margin-left: 400px;
      
  }
  .login-container :hover{
      color: blue;
  }
  .modalcolor{
      background: red;
  }
  
  
   /* .dropdown{
       margin-left: 1px;


  }  */
  .fa{
      margin-left:500px;
  }
  
  
  #pic{
      width: 4000px;
      height: 500px;
      margin-top: 50px;
      margin-left: 500px;
  }
  
  #carrr{
      width: 380px;
      height: 350px;
  }
  
  #car{
      height: 300px;
      width: 100%;
      margin-top: 0%;
      border-radius: 50px;
  }
  
  #loginn{
      margin-left: 600px;
  }
  .card:hover{
      box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
  }
  
  .card {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      margin: 10px;
    }
    .card:hover, .card:focus, .card:active {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
  
  
    #basket{
      margin-top: 100px;
  
      width: 50px;
      background-color:white;
      border-radius:10px;
      color: black;
    }
  
    #buttonD{
      margin-top: 75px;
      margin-left: 330px;
    }

   
 }

 @media  screen and (max-width:766px) {
   

   
 }


 .sub-menu-wrap{
   position: absolute;
   top: 100%;
   right: 10%;
   width: 320px;
   max-height: 0px;
   overflow: hidden;
   transition: transform .5s;
 }
 .sub-menu-wrap.open-menu{
   max-height: 400px;
   
 }


 .sub-menu{
   background: #fff;
   padding: 20px;
   margin: 10px;
 }
 .user-info{
   display: flex;
   align-items: center;
 }
 .user-info h2{
   font-weight: 500;
 }

.user-info img{
   width: 60px;
   border-radius: 50%;
   margin-right: 15px;

}

.sub-menu hr{
   border: 0;
   height: 1px;
   width: 100%;
   background: #ccc;
   margin: 15px 0 10px;
}

.sub-menu-link{
   display: flex;
   align-items: center;
   text-decoration: none;
   color: #525252;
   margin: 12px 0;
}
.sub-menu-link p{
 width: 100%;

}
.sub-menu-link:hover p{
font-weight: 600;

}
.sub-menu-link img{
   width: 40px;
   background: #e5e5e5;
   border-radius: 50%;
   padding: 8px;
   margin-right: 15px;
}
.sub-menu-link span{

   font-size: 22px;
   transition: transform 0.5s;
}
.sub-menu-link span:hover{
   transform: translateX(5px);
}








